<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:fire="http://schemas.microsoft.com/wix/FirewallExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Id="*" Name="IPv6 Forwarder for GameStream" Language="1033" Version="!(bind.fileVersion.GSv6FwdExe)"
           Manufacturer="Moonlight Game Streaming Project" UpgradeCode="cae27153-26ed-4da2-8dd5-8cddc7126a05">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
    <UIRef Id="WixUI_Minimal" />

    <Feature Id="ProductFeature" Title="GSv6FwdSetup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Moonlight Internet Hosting Tool" />
      </Directory>
      <Directory Id="CommonAppDataFolder">
        <Directory Name="MISS" Id="MISSLogFolder" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ProductComponent">
        <File Source="$(var.GSv6Fwd.TargetPath)" KeyPath="yes" Id="GSv6FwdExe">
          <fire:FirewallException Id="FwException"
                                  Scope="any"
                                  Name="Moonlight IPv6 Forwarding Service"/>
        </File>
        <CreateFolder Directory="MISSLogFolder">
          <util:PermissionEx User="NT SERVICE\GSv6FwdSvc" GenericAll="yes" />
        </CreateFolder>
        <ServiceInstall Type="ownProcess"
                        Name="GSv6FwdSvc"
                        DisplayName="Moonlight IPv6 Forwarding Service"
                        Description="Allows Moonlight clients to connect to this PC over IPv6 networks"
                        Start="auto"
                        Account="NT AUTHORITY\LocalService"
                        ErrorControl="ignore"
                        Interactive="no">
          <ServiceConfig DelayedAutoStart="yes" OnInstall="yes" OnReinstall="yes" ServiceSid="restricted">
            <RequiredPrivilege>SeChangeNotifyPrivilege</RequiredPrivilege>
          </ServiceConfig>
        </ServiceInstall>
        <ServiceControl Id="StartService" Start="install" Stop="both" Remove="uninstall" Name="GSv6FwdSvc" Wait="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
